#
# common
#
.swdir/log/*
!.swdir/log/.placeholder
.swdir/swgit_last_br
*~
*.swp
*.pyc
!.gitattributes

#
# project specific
#
test/SANDBOX/*
test/LOGS/*
test/SANDBOX_777/*
doc/_build/*
doc/readme/_build/doctrees/*
